* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
h1 {
  font-family: "Fredericka the Great", cursive;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
}
.centrar {
  text-align: center;
}

.derecha {
  text-align: left;
}

.interlineado {
  line-height: 1.5;
}

.tamañofuente {
  font-size: 60px;
}

.twitterlogo {
  width: 25px;
}
.portada {
  width: 70%;
}
.menu {
  display: block;
}

.menu ul {
  list-style: none;
  font-size: 0;
}

.menu li {
  display: inline-block;
  position: relative;
  width: 10%;
  font-size: 20px;
  background-size: cover;
  opacity: 1;
}

.pie li {
  display: inline;
  position: relative;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #faf4fc00;
  background-image: url(../assets/img/pattern.png);
  background-blend-mode: soft-light;
}
img {
  border: 0;
}

nav {
  font-family: "Fuzzy Bubbles", cursive;
}
.img {
  border-top: 6px solid #090909;
  border-bottom: 6px solid #0a0b0b;
  border-right: 6px solid #0a0b0b;
  border-left: 6px solid #0a0b0b;
}

.form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
h2 {
  margin: 30px;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
input {
  width: 100%;
  margin: 5px;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}



iframe {
  margin-left: 100px;
  
}
