.centrar {
  text-align: center;
}

.derecha {
  text-align: left;
}
.interlineado {
  line-height: 1.5;
}
.tamañofuente {
  font-size: 60px;
}
.twitterlogo {
  width: 25px;
  margin-right: 20px;
}
.portada {
  width: 50%;
}
.menu {
  display: block;
  justify-content: center;
  
}
.row {
  justify-content: space-evenly;
  padding-top: 10px;

}

.pindex {
  font-family: $font-family_3;
}

.selector-for-some-widget {
  box-sizing: content-box;
}
.btn-primary{
  background-color: black;
  border-color: rgb(2, 2, 2);

}
.button{
margin-left: 98px;
}

.carousel-control-next-icon{
  color: black;
}