.centrar {
  text-align: center;
}

.derecha {
  text-align: left;
}
.interlineado {
  line-height: 1.5;
}
.tamañofuente {
  font-size: 60px;
}
.twitterlogo {
  width: 25px;
}
.portada {
  width: 70%;
}
.menu {
  display: block;
}
