.centrar {
  text-align: center;
}

.derecha {
  text-align: left;
}
.interlineado {
  line-height: 1.5;
}
.tamañofuente {
  font-size: 60px;
}
.twitterlogo {
  width: 25px;
  margin-right: 20px;
}
.portada {
  width: 70%;
}
.menu {
  display: block;
}
.row {
  justify-content: space-evenly;
  padding-top: 10px;

}

.pindex {
  font-family: $font-family_3;
}

.selector-for-some-widget {
  box-sizing: content-box;
}
.maps{
  size-adjust: width="600" height="450";
}