form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 10px;
  font-family: $font-family_4;
  position: relative;
  margin-left: 0px;
  
  p {
      text-align: left;
      margin-left: 10px;
  }
}
