.d-block{
  display: block;
  margin: 0 auto;
  min-width: 40%;   
  max-width: 100%;
  border-top: 3px solid #090909;
  border-bottom: 3px solid #0a0b0b;
  border-right: 3px solid #0a0b0b;
  border-left: 3px solid #0a0b0b;

}
