input {
  
  margin: 5px;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: $font-family_4;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  text-align: center;
  &:focus {
    border-bottom: 2px solid #78788c;
  }
}