li {
  font-family: $font-family_1;
  display: inline-block;
  position: relative;
  width: 10%;
  font-size: 20px;
  background-size: cover;
  opacity: 5;
}
.pie {
  li {
    display: inline;
    position: relative;
    font-family: $font-family_2;
  }
}

