
p {
  &:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: $color_3;
  }
}

.nosotros{
  margin: 0 20px 0 20px;
  text-align: justify;
}

.contacto{
  text-align: center;
}
